@model NameValueCollectionValueProvider
<html>
<head>
    <title>指定前缀的Key</title>
    <link rel="stylesheet" href="~/content/bootstrap.css"/>
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>
    <table class="table table-bordered" >
        <tr><th colspan="2">first</th></tr>
        @foreach (var item in Model.GetKeysFromPrefix("first"))
        {
            <tr><td>@item.Key</td><td>@item.Value</td></tr>
        }

        <tr><th colspan="2">first[0]</th></tr>
        @foreach (var item in Model.GetKeysFromPrefix("first[0]"))
        {
            <tr><td>@item.Key</td><td>@item.Value</td></tr>
        }

        <tr><th colspan="2">first[1]</th></tr>
        @foreach (var item in Model.GetKeysFromPrefix("first[1]"))
        {
            <tr><td>@item.Key</td><td>@item.Value</td></tr>
        }

    </table>
</body>
</html>
