@model Person
<html>
<head>
    <title>编辑人员信息</title>
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/site.css" />
</head>
<body>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    { 
        <div>@Html.LabelFor(m=>m.Name)</div>
        <div>@Html.EditorFor(m=>m.Name)</div>
        
        <div>@Html.LabelFor(m=>m.Gender)</div>
        <div>@Html.EditorFor(m => m.Gender)</div>
        
        <div>@Html.LabelFor(m=>m.Age)</div>
        <div>@Html.EditorFor(m => m.Age)</div>
        
        <input type="submit" value="保存"/>
    }
</body>
</html>
